$colors: (
  primary: (
    900: rgb(42,65,68),
    600: rgb(12,125,105),
    400: rgb(12,125,105),
    300: rgb(134,162,165),
    100: rgb(255,255,255),
  ),
  neutral: (
    900: rgb(215,60,60),
    400: rgb(12,125,105),
    200: rgb(224,241,232),
    100: rgb(255,255,255),
  ),
);
  