@use 'base';
@use 'components';
@use 'layout';
@use 'utilities';
@use 'abstracts' as *;
// @use 'vendor';

.form{
    background-color: clr(neutral,100);
    border-radius: 16px;
    padding: 24px;
    width: 343px;

    &__text-input-wrapper:not(:last-child){
        margin-bottom: 24px;
    }
    &__label{
        display: block;
        margin-bottom: 8px;
    }
    &__title{
        font-weight: $fw-700;
        color: clr(primary,900);
        margin-bottom: 16px;
    }
    &__input{
        border: 1px solid clr(primary,300);
        border-radius: 8px;
        width: 295px;
        height: 51px;
    }
    &__fieldset{
        display: grid;
        gap: 16px;
        border: none;
        padding: 0;
    }
}
